@import "~bootstrap/dist/css/bootstrap.min.css";

#palobut {
  -webkit-transform: rotate(-180deg);
}
.card-body {
  padding: 0;
}
#num {
  font-size: 400%;
  font-family: Arial, Helvetica, sans-serif;
}
